Repository rkt/rkt, pull requests merged in 2018-04, with the labels that each got.

#3913 docs: update rktnetes URL
  Documentation/using-rkt-with-kubernetes.md
Labels: kind/documentation, reviewed/lgtm

#3923 glide: bump docker2aci to 0.17.2
  glide.lock
  glide.yaml
  vendor/github.com/appc/docker2aci/lib/internal/internal.go
  vendor/github.com/appc/docker2aci/lib/version.go
  vendor/github.com/go4org/go4/LICENSE
  vendor/github.com/go4org/go4/errorutil/highlight.go
  vendor/golang.org/x/text/doc.go
  vendor/golang.org/x/text/gen.go
  vendor/golang.org/x/text/unicode/norm/maketables.go
  vendor/golang.org/x/text/unicode/norm/tables10.0.0.go
  vendor/golang.org/x/text/unicode/norm/tables9.0.0.go
  vendor/golang.org/x/text/width/gen.go
  vendor/golang.org/x/text/width/tables10.0.0.go
  vendor/golang.org/x/text/width/tables9.0.0.go
Labels: area/dependency, needs/review

#3922 stage1/kvm: fix qemu memfd build failure
  stage1/usr_from_kvm/qemu.mk
  stage1/usr_from_kvm/qemu/patches/000-memfd_fix_configure_test.patch
Labels: kind/bugfix, reviewed/merge-on-green, technology/kvm

#3921 release 1.30.0
  CHANGELOG.md
  Documentation/devel/inspect-containers.md
  Documentation/distributions.md
  Documentation/pod-manifest.md
  Documentation/proposals/oci.md
  Documentation/running-fly-stage1.md
  Documentation/running-kvm-stage1.md
  Documentation/subcommands/prepare.md
  Documentation/subcommands/version.md
  Documentation/trying-out-rkt.md
  configure.ac
  scripts/install-rkt.sh
  tests/empty-image/manifest
  tests/image/manifest
  tests/rkt-monitor/build-stresser.sh
  tests/rkt_exec_test.go
  tests/rkt_image_cat_manifest_test.go
  tests/rkt_image_export_test.go
  tests/rkt_image_render_test.go
  tests/rkt_os_arch_test.go
  tests/rkt_run_test.go
Labels: kind/release
